body, html {
  margin: 0;
  padding: 0;
  font-family: 'SIMPLIFICA';
  font-size: 30px;

  /*background-image: url(https://s-media-cache-ak0.pinimg.com/originals/70/76/ef/7076ef6603cf2ad6b113d164331a2bfb.jpg);*/
  background-image: url(https://static1.squarespace.com/static/509d6570e4b001bf110d3212/t/58f63e4a579fb3776b2b7534/1492532874458/33639199312_57179baeee_k.jpg?format=1500w);
  background-position: center;
  background-size: auto;


}
body.md-default-theme, body, html.md-default-theme, html {
    color: rgb(245,245,245);
    /*background-color: rgb(250,250,250);*/

}


md-card.md-default-theme, md-card {
    color: rgba(0,0,0,0.87);
    background-color: rgba(255, 255, 255, 0.96);
    /*border-radius: 2px;*/
}
md-toolbar{
  font-size: 30px;
  

}
.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  /*background-color: #333333;*/
  /*color: #DDDDDD;*/
  padding: 2px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: darkcyan;
  height: 100px;
  width: 100%;
  border-radius: 0px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: red;
}
.carname{
  text-transform: uppercase;
}
.button:hover{
color: red;
font-size: 20px;
}
.md-headline{
  font-size: 50px;
}
#userName{
  color: red;
}

h1 .lead{

  margin-top: 20px;
  margin-bottom: 20px;
}
.welcomeUser{
  max-width: 100%;
  max-height: 56px;
}
.buttonSide.md-raised{
  font-size: 50px;
}
md-sidenav, md-content.sideButton{
  background-color: rgba(0, 0, 0, 0.3);
}
md-content{
  background-color: rgba(0, 0, 0, 0.0);
}
