<body ng-app="myApp" layout="column">

  <div ng-controller="NavController as nc" layout="row">

    <md-toolbar class="md-tall accent">
      <md-content>
      <div layout="column" layout-align="end start" style="width: 100px;">
        <md-button class="button md-raised" ng-click="nc.openLeftMenu()"> Menu </md-button>
      </div>
      <div layout="row" layout-align="center center" flex>
        <h1 style=" margin-top: 0px; margin-bottom: 0px; "> Project DIY </h1>
      </div>
      <md-content>
    </md-toolbar>

    <!-- inside of nav -->
    <md-sidenav md-component-id="left" class="md-sidenav-left">

      <div class="instructions">
        <div layout="row" layout-align="center center" flex>
          <h1 class="lead">Project DIY</h1>
        </div>
      </div>
      <md-content class="sideButton">
        <md-button  style="
        width: 212px;
        height: 50px;
        padding-left: 6px;
        margin-left: 40px;" class="buttonSide button md-raised" ng-click="nc.userService.logout()">Logout</md-button>
      </md-content>
      <md-content class="sideButton">
        <md-button style="
        width: 212px;
        height: 50px;
        padding-left: 6px;
        margin-left: 40px;" class="buttonSide button md-raised" ng-click="pc.gotoGarage()">Garage</md-button>
      </md-content>
      <md-content class="sideButton">
        <md-button style="
        width: 212px;
        height: 50px;
        padding-left: 6px;
        margin-left: 40px;" class="buttonSide button md-raised" ng-click="vc.gotoAddVehicleFrom()">Add Vehicle</md-button>
      </md-content>
<!-- AIzaSyDPnzNqEKJ0RAl-vwZma-iyQAaINNK1fRE -->


      <md-card>
        <md-card-content>
        <p>Useful Resources</p>
        <ul>
          <a href="https://carmanuals2.com/">Car Manuals</a>
        </ul>
        <md-card-content>
      </md-card>

      <md-card>
        <md-card-content>
          <md-list flex>
          <md-list-item>MongoDB - mongoose</md-list-item>
          <md-list-item>Express.js</md-list-item>
          <md-list-item>Angular.js</md-list-item>
          <md-list-item>Node.js</md-list-item>
          <md-list-item>Angular Material</md-list-item>
          <md-list-item>Filestack</md-list-item>
          <md-list>
        <md-card-content>
      </md-card>
    </md-sidenav>



  </div>
</body>
