<div ng-include="'views/partials/nav.html'"></div>

<md-content layout="row" layout-align="space-around" layout-padding="layout-padding">
  <md-card flex="flex" height="350px" width="600px">

    <section layout="row" layout-md="column" layout-align="end center" layout-wrap>
      <div layout="row" layout-align="start center" flex>
        <h1><md-icon class="material-icons">build</md-icon> New Project Record</h1>
    </section>
    <md-card-content>
      <form>

        <div layout="row">
          <md-radio-group layout="row" ng-model="pc.projectService.newProject.type">
            <md-radio-button value="DIY" class="md-primary"> DIY </md-radio-button>
            <md-radio-button value="Shop"> Shop </md-radio-button>
          </md-radio-group>

          <md-datepicker md-placeholder="Enter Date" ng-model="pc.projectService.newProject.date"></md-datepicker>
        </div>
        <md-input-container>
          <input type="text" placeholder="Task" ng-model="pc.projectService.newProject.task" />
        </md-input-container>

        <md-input-container>
          <input type="text" placeholder="Part Brand" ng-model="pc.projectService.newProject.part_brand" />
        </md-input-container>

        <md-input-container>
          <input type="text" placeholder="Part Number" ng-model="pc.projectService.newProject.part_number" />
        </md-input-container>

        <md-input-container>
          <input type="text" placeholder="Current Mileage" ng-model="pc.projectService.newProject.mileage" />
        </md-input-container>

        <md-input-container ng-if="pc.projectService.newProject.type == 'Shop' ">
          <input type="text" placeholder="Shop Name" ng-model="pc.projectService.newProject.shop" />
        </md-input-container>

        <md-input-container>
          <input type="text" placeholder="Next Due Mileage" ng-model="pc.projectService.newProject.dueMileage" />
        </md-input-container>

        <md-input-container>
          <input type="text" placeholder="Project Cost" ng-model="pc.projectService.newProject.cost" />
        </md-input-container>

        <md-input-container ng-if="pc.projectService.newProject.type == 'DIY' ">
          <input type="text" placeholder="Shop Quote" ng-model="pc.projectService.newProject.quote" />
        </md-input-container>

        <md-input-container>
          <input type="text" placeholder="Notes" ng-model="pc.projectService.newProject.notes" md-maxlength ="250"/>
        </md-input-container>

        <div layout="row" layout-align="center center">
        <md-button class="button md-raised" ng-click="pc.projectService.addProject()">Add Project</md-button>
        <md-button class="button md-raised" ng-click="pc.projectService.cancelNewProject()">Cancel</md-button>
        <div>

      </form>
    </md-card-content>

  </md-card>
</md-content>
