<form>
  <md-input-container md-no-float>
    <input type="text" placeholder="Diy or Shop" ng-model="pc.projectService.newProject.type">
  </md-input-container>

  <md-input-container>
    <input type="text" placeholder="Date" ng-model="pc.projectService.newProject.date" />
  </md-input-container>

  <md-input-container>
    <input type="text" placeholder="Task" ng-model="pc.projectService.newProject.task" />
  </md-input-container>

  <md-input-container>
    <input type="text" placeholder="Part Brand" ng-model="pc.projectService.newProject.part_brand" />
  </md-input-container>

  <md-input-container>
    <input type="text" placeholder="Part Number" ng-model="pc.projectService.newProject.part_number" />
  </md-input-container>

  <md-input-container>
    <input type="text" placeholder="Current Mileage" ng-model="pc.projectService.newProject.mileage" />
  </md-input-container>

  <md-input-container>
    <input type="text" placeholder="Notes" ng-model="pc.projectService.newProject.notes" />
  </md-input-container>

  <button class="btn btn-primary" ng-click="pc.projectService.addProject()">Add Project</button>

  <a href="#garage">Garage</a>
</form>
