<form>
  <div>
      <label for="vehicle.year">Year: </label>
      <input type="text" ng-model="vc.newVehicle.year" />
  </div>
  <div>
      <label for="vehicle.make">Make: </label>
      <input type="text" ng-model="vc.newVehicle.make" />
  </div>
  <div>
      <label for="vehicle.model">Model: </label>
      <input type="text" ng-model="vc.newVehicle.model" />
  </div>
  <div>
    <label for="vehicle.style">Body Style: </label>
    <input type="text" ng-model="vc.newVehicle.body_style" />
  </div>
  <div>
      <label for="vehicle.mileage">Mileage: </label>
      <input type="text" ng-model="vc.newVehicle.mileage" />
  </div>
      <button class="btn btn-primary" ng-click="vc.addVehicle()">Add Vehicle</button>
      <a href="#garage">Garage</a>
</form>
