<div ng-include="'views/partials/nav.html'"></div>

<md-content layout="row" layout-align="space-around" layout-padding="layout-padding">
  <md-card flex="flex" flex-gt-sm="60" flex-gt-md="30">

  <h1 class="lead">New Project Record</h1>
    <md-card-content>
      <form>

        <div layout="row">

          <md-radio-group layout="row" ng-model="pc.projectService.newProject.type">
            <md-radio-button value="DIY" class="md-primary"> DIY </md-radio-button>
            <md-radio-button value="Shop"> Shop </md-radio-button>
          </md-radio-group>

          <md-datepicker md-placeholder="Enter Date" ng-model="pc.projectService.newProject.date"></md-datepicker>
        </div>
        <md-input-container>
          <input type="text" placeholder="Task" ng-model="pc.projectService.newProject.task" />
        </md-input-container>

        <md-input-container>
          <input type="text" placeholder="Part Brand" ng-model="pc.projectService.newProject.part_brand" />
        </md-input-container>

        <md-input-container>
          <input type="text" placeholder="Part Number" ng-model="pc.projectService.newProject.part_number" />
        </md-input-container>

        <md-input-container>
          <input type="text" placeholder="Current Mileage" ng-model="pc.projectService.newProject.mileage" />
        </md-input-container>

        <md-input-container ng-if="pc.projectService.newProject.type == 'Shop' ">
          <input type="text" placeholder="Shop Name" ng-model="pc.projectService.newProject.shop" />
        </md-input-container>

        <md-input-container>
          <input type="text" placeholder="Notes" ng-model="pc.projectService.newProject.notes" md-maxlength ="250"/>
        </md-input-container>
        <md-input-container>
          <input type="text" placeholder="Due Mileage" ng-model="pc.projectService.newProject.dueMileage" />
        </md-input-container>

        <div layout="row">
        <md-button class="button md-raised" ng-click="pc.projectService.addProject()">Add Project</md-button>
        <md-button class="button md-raised" ng-click="pc.gotoGarage()">Cancel</md-button>
        <div>

      </form>
    </md-card-content>

  </md-card>
</md-content>
