<form ng-submit="">
  <div>
      <label for="project_date">Date: </label>
      <input type="text" ng-model="" />
  </div>
  <div>
      <label for="project_task">Task: </label>
      <input type="text" ng-model="" />
  </div>
  <div>
      <label for="project_part_brand">Part Brand: </label>
      <input type="text" ng-model="" />
  </div>
  <div>
    <label for="project_part_number">Part Number: </label>
    <input type="text" ng-model="" />
  </div>
  <div>
      <label for="project_notes">Notes: </label>
      <input type="text" ng-model="" />
  </div>
  <div>
      <label for="project_mileage">Current Mileage: </label>
      <input type="number" ng-model="" />
  </div>
      <input class="btn btn-default" type="submit" name="submit" value="Add Project" />
      <a href="#user">Garage</a>
</form>
