<div ng-include="'views/partials/nav.html'"></div>

<body layout="row">
  <h1>{{pc.projectService.selectedVehicle.name}}</h1>
  <md-content class="md-padding" layout-xs="column" layout="row" ng-if="!pc.editProject">
    <div ng-repeat="item in pc.userPackage.project">
      <md-card flex="33">
        <md-card-content>

          <md-card-title-text>
            <span class="md-headline">{{item.type}}</span>
          </md-card-title-text>

          <p><span class="md-subhead">Date: </span> {{item.date | date}}</p>
          <p><span class="md-subhead">Task: </span> {{item.task}}</p>
          <p><span class="md-subhead">Part Brand: </span> {{item.part_brand}}</p>
          <p><span class="md-subhead">Part #: </span> {{item.part_number}}</p>
          <p><span class="md-subhead">Mileage: </span> {{item.mileage}}</p>
          <p><span class="md-subhead">Notes: </span> {{item.notes}}</p>
          <p ng-if="item.shop"><span class="md-subhead">Shop: </span> {{item.shop}}</p>

          <div layout="row">
            <md-button class="button md-raised md-warn" ng-click="pc.projectService.deleteProject(item._id)"
            >Delete</md-button>
            <md-button class="button md-raised" ng-click="pc.toggleUpdateProject(item)">Edit</md-button>
          </div>
          <div layout="row">
            <!-- service due calculator -->
            <md-input-container>
              <input type="text" placeholder="Current Mileage" ng-model="pc.inputMileage" />
            </md-input-container>
            <md-button class="md-raised" ng-click="pc.calculateService(item)"> CALC </md-button>
          </div>

        </md-card-content>
      </md-card>
      <md-button class="button md-raised" ng-click="pc.gotoAddProjectForm()">Add Project</md-button>
    </div>

  </md-content>
</body>


<!-- <md-button class="button md-raised" ng-click="pc.gotoGarage()">Garage</md-button> -->

<!-- edit project form -->
<body>
    <md-content layout="row" layout-align="space-around" layout-padding="layout-padding" ng-if="pc.editProject">
      <md-card flex="flex" flex-gt-sm="50" flex-gt-md="30">

      <md-card-content>
        <form ng-model="pc.editProject">
          <div layout="row">

            <md-radio-group layout="row" ng-model="pc.projectService.editProject.type">
              <md-radio-button value="DIY" class="md-primary">DIY </md-radio-button>
              <md-radio-button value="Shop"> Shop </md-radio-button>
            </md-radio-group>

            <md-datepicker md-placeholder="Enter Date" ng-model="pc.projectService.editProject.date">
            </md-datepicker>
          </div>

          <md-input-container>
            <input type="text" placeholder="Task" ng-model="pc.projectService.editProject.task" />
            {{pc.editProject.task}}
          </md-input-container>

          <md-input-container>
            <input type="text" placeholder="Part Brand" ng-model="pc.projectService.editProject.part_brand" />
            {{pc.editProject.part_brand}}
          </md-input-container>

          <md-input-container>
            <input type="text" placeholder="Part Number" ng-model="pc.projectService.editProject.part_number" />
            {{pc.editProject.part_number}}
          </md-input-container>

          <md-input-container>
            <input type="text" placeholder="Current Mileage" ng-model="pc.projectService.editProject.mileage" />
            {{pc.editProject.mileage}}
          </md-input-container>

          <md-input-container ng-if="pc.projectService.editProject.type == 'Shop' ">
            <input type="text" placeholder="Shop Name" ng-model="pc.projectService.editProject.shop" />
            {{pc.editProject.shop}}
          </md-input-container>

          <md-input-container>
            <input type="text" placeholder="Notes" ng-model="pc.projectService.editProject.notes"
             md-maxlength ="250"/>
            {{pc.editProject.notes}}
          </md-input-container>

          <md-input-container>
            <input type="text" placeholder="Due Mileage" ng-model="pc.projectService.editProject.dueMileage" />
          </md-input-container>

          <md-button class="button md-raised" ng-click="pc.projectService.updatingProject(pc.editProject._id)">
            Update Project</md-button>
            <md-button class="button md-raised" ng-click="pc.cancelUpdate()">Cancel</md-button>

          </form>
        </md-card-content>
      </md-card>

    </md-content>
</body>
