<div ng-include="'views/partials/nav.html'"></div>

<body ng-if="!pc.editProject" layout-padding>

  <section class="welcomeUser" layout="row" layout-md="column" layout-align="end center" layout-wrap ng-if="!pc.editProject"
  style="
  width: 300px;
  margin-left: center;
  padding-left: 30px;">
  <div layout="row" layout-align="center center" flex>
    <h1>{{pc.projectService.selectedVehicle.name}}</h1>
    <span flex></span>
  </div>
  <md-button class="button md-raised" ng-click="pc.gotoAddProjectForm()">Add Project</md-button>
</section>

<div layout="row" ng-if="!pc.editProject" flex>
  <md-content class="md-padding" layout-xs="column" layout="row" layout-wrap>

    <div ng-repeat="item in pc.userPackage.project">
      <md-card flex="33" layout-wrap style="width: 350px;">

        <md-card-content>
          <md-card-title-text>
            <span class="md-headline">{{item.type}}</span>
          </md-card-title-text>

          <p> Date: {{item.date | date}}</p>
          <p> Task: {{item.task}}</p>
          <p> Part Brand: {{item.part_brand}}</p>
          <p> Part #: {{item.part_number}}</p>
          <p> Mileage: {{item.mileage}}</p>
          <p ng-if:"item.type == 'DIY' "> Project: {{item.cost}}</p>
          <p> Notes: {{item.notes}}</p>
          <p ng-if="item.shop">Shop: {{item.shop}}</p
          <br>

          <div layout="row">
            <md-button class="button md-raised" ng-click="pc.toggleUpdateProject(item)">Edit</md-button>
          </div>

          <md-card-actions layout="row" layout-align="end center">
            <div ng-if="item.dueMileage">


              <md-input-container >
                <input type="text" placeholder="Current Mileage" ng-model="pc.inputMileage" />
              </md-input-container>
              <md-button class="button md-raised" ng-click="pc.calculateService(item)">Calculate</md-button>
            </div>
          </md-card-actions>
        </md-card-content>
      </md-card>
    </div>
  </md-content>
</div>

<!-- <md-button class="button md-raised" ng-click="pc.gotoGarage()">Garage</md-button> -->

<!-- edit project form -->
<div ng-if="pc.editProject">


  <md-content layout="row" layout-align="space-around" layout-padding="layout-padding">
    <md-card flex="flex" height="350px" width="600px">

      <md-card-content>
        <section layout="row" layout-md="column" layout-align="end center" layout-wrap>
          <div layout="row" layout-align="start center" flex>
            <h1>Edit Project</h1>
          </section>
          <form ng-model="pc.editProject">

            <div layout="row">

              <md-radio-group layout="row" ng-model="pc.projectService.editProject.type">
                <md-radio-button value="DIY" class="md-primary">DIY </md-radio-button>
                <md-radio-button value="Shop"> Shop </md-radio-button>
              </md-radio-group>

              <md-datepicker md-placeholder="Enter Date" ng-model="pc.projectService.editProject.date">
              </md-datepicker>
            </div>

            <md-input-container>
              <input type="text" placeholder="Task" ng-model="pc.projectService.editProject.task" />
              {{pc.editProject.task}}
            </md-input-container>

            <md-input-container>
              <input type="text" placeholder="Part Brand" ng-model="pc.projectService.editProject.part_brand" />
              {{pc.editProject.part_brand}}
            </md-input-container>

            <md-input-container>
              <input type="text" placeholder="Part Number" ng-model="pc.projectService.editProject.part_number" />
              {{pc.editProject.part_number}}
            </md-input-container>

            <md-input-container>
              <input type="text" placeholder="Current Mileage" ng-model="pc.projectService.editProject.mileage" />
              {{pc.editProject.mileage}}
            </md-input-container>

            <md-input-container ng-if="pc.projectService.editProject.type == 'DIY' ">
              <input type="text" placeholder="Project Cost" ng-model="pc.projectService.editProject.cost" />
              {{pc.editProject.cost}}
            </md-input-container>

            <md-input-container>
              <input type="text" placeholder="Shop Quote" ng-model="pc.projectService.editProject.quote" />
              {{pc.editProject.quote}}
            </md-input-container>

            <md-input-container ng-if="pc.projectService.editProject.type == 'Shop' ">
              <input type="text" placeholder="Shop Name" ng-model="pc.projectService.editProject.shop" />
              {{pc.editProject.shop}}
            </md-input-container>

            <md-input-container>
              <input type="text" placeholder="Notes" ng-model="pc.projectService.editProject.notes"
              md-maxlength ="250"/>
              {{pc.editProject.notes}}
            </md-input-container>

            <md-input-container>
              <input type="text" placeholder="Due Mileage" ng-model="pc.projectService.editProject.dueMileage" />
              {{pc.editProject.dueMileage}}
            </md-input-container>
            <div layout="row" layout-align="center center">
              <md-button class="button md-raised" ng-click="pc.projectService.updatingProject(pc.editProject._id)">
                Update Service</md-button>
                <md-button class="button md-raised" ng-click="pc.projectService.deleteProject(pc.editProject._id)">
                  Delete Service</md-button>
                  <md-button class="button md-raised" ng-click="pc.cancelUpdate()">Cancel</md-button>
                </div>
              </form>
            </md-card-content>
          </md-card>

        </md-content>
      </div>

    </body>
