<body>
  <div class="row">
    <div class="col-md-12">
      <div ng-repeat="item in pc.userPackage.project" class="md-card-image">
        <md-card>
          <md-card-content>
            <p>Type: {{item.type}}</p>
            <p>Date: {{item.date}}</p>
            <p>Task: {{item.task}}</p>
            <p>Part Brand: {{item.part_brand}}</p>
            <p>Part Number: {{item.part_number}}</p>
            <p>Mileage: {{item.mileage}}</p>
            <p>Notes: {{item.notes}}</p>
            <button  ng-click="pc.projectService.deleteProject(item._id)">Delete</button>
            <button  ng-click="pc.projectServie.updateProject(item._id)">Edit</button>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
  <a href="#add_project">Add Project</a>
  <a href="#garage">Garage</a>
</body>
